@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  h1,
  h2,
  p,
  li {
    @apply text-gray-900;
  }

  h3,
  h4 {
    @apply text-gray-700;
  }

  p {
    @apply text-lg;
  }
}

@layer components {
  .blog {
    @apply text-lg;
  }

  .blog h2 {
    @apply text-4xl font-bold my-4;
  }

  .blog h3 {
  }

  .blog h4 {
  }

  .blog p {
    @apply py-3;
  }

  .blog span {
  }

  .blog hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .blog a {
    @apply text-blue-500 font-medium underline text-xl;
  }
}
